mixin button(props)
  - props = typeof props != 'undefined' ? props : {}

  - var mods = props.mods || {}
  - var tag   = props.tag || 'button'
  - var data = props.data || {}
  - var attrs = props.attrs || {}

  #{tag}.button(
    class= mods.type ? 'button_type_' + mods.type : ''
  )&attributes(attrs)
    block
