.form-field__input
  width: 100%
  background: none
  color: #fff
  font-size: 24px
  line-height: 35px
  letter-spacing: -0.01em
  border-bottom: 2px solid rgba(#F7F8FA, .1)
  padding: 16px 0 15px

  &::placeholder
    color: rgba(#fff, .3)
