include __row/=form__row
include __group/=form__group
include __actions/=form__actions
include __field/=form__field

mixin form(props)
  - props = typeof props != 'undefined' ? props : {}

  - var mods = props.mods || {}
  - var tag   = props.tag || 'form'
  - var data = props.data || {}
  - var attrs = props.attrs || {}

  - var action = props.action || 'javascript:void(0);'

  #{tag}.form(
    class= mods.type ? 'form_type_' + mods.type : ''
    action= action
  )&attributes(attrs)
    block
