.advantage-list__item

  +respond-to($tablet-portrait)
    flex: 0 0 30%

  &:not(:last-child)
    margin-bottom: 24px

    +respond-to($tablet-portrait)
      margin-right: 5%
      margin-bottom: 0
