.section_type_raw-text
  padding: 24px 16px

  +respond-to($tablet-portrait)
    padding: 32px 24px 40px

  +respond-to($desktop)
    padding: 82px 0 104px

  .section__body,
  .section__header
    max-width: 780px
    margin: auto

  .section__header
    margin-bottom: 25px

  .section__title
    text-align: left

  .section__body,
    p

      &:not(:last-child)
        margin-bottom: 27px
