.button_type_primary
  background: none
  color: $textPrimaryColor
  text-transform: uppercase
  font-size: 16px
  font-weight: bold
  border-radius: 54px
  padding: 19px 30px 19px 46px
  position: relative

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 54px
    height: 54px
    border-radius: 54px
    background: rgba(#878787, .05) url('../img/button_type_primary.svg') 20px 50% no-repeat
    will-change: width
    transition: width .3s


  &:hover
    &::before
      width: 100%
      background-position: 20px 50%


  &:active

