.section_type_offer
  background: #F7F5FA
  position: relative
  padding: 100px 16px 40px

  +respond-to($tablet-portrait)
    padding: 200px 24px 64px

  +respond-to($desktop)
    padding: 500px 0 80px

  &::before
    content: ''
    position: absolute
    height: 240px
    left: 0
    top: 0
    width: 100%
    background: url('../img/section_type_offer.jpg') 50% no-repeat
    background-size: cover

    +respond-to($tablet-portrait)
      height: 360px

    +respond-to($desktop)
      height: 600px

  .section__body
    position: relative
    max-width: 974px
    margin: auto
