.advantage__title
  font: bold 20px/26px $secondaryFont
  color: #000
  margin-bottom: 16px
  text-align: center

  +respond-to($tablet-portrait)
    text-align: left
    margin-bottom: 24px

  &::before
    position: relative
    left: -1px
    content: ''
    display: block
    width: 32px
    height: 32px
    background: url('../img/advantage__title.svg') no-repeat
    background-size: 100%
    margin: 0 auto 8px

    +respond-to($tablet-portrait)
      width: 54px
      height: 54px
      margin: 0 auto 28px

  &::after
    margin: 16px auto 0
    content: ''
    display: block
    width: 24px
    height: 2px
    background: $primaryColor

    +respond-to($tablet-portrait)
      margin: 23px 0 0
