@import __title/offer__title
@import __description/offer__description

.offer
  padding: 16px 16px 24px
  box-sizing: border-box

  +respond-to($tablet-portrait)
    padding: 24px

  +respond-to($desktop)
    padding: 48px 90px 64px 60px
