include __item/advantage-list__item

mixin advantage-list(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods  = props.mods || {}
  - var tag   = props.tag || 'div'
  - var attrs = props.attrs || {}

  #{tag}.advantage-list(
    class= mods.type ? 'advantage-list_type_' + mods.type : ''
  )&attributes(attrs)
    block

