mixin form__field(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods  = props.mods || {}
  - var tag   = props.tag || 'div'
  - var attrs = props.attrs || {}

  #{tag}.form__field(
    class= mods.type ? 'form__field_type_' + mods.type : ''
  )&attributes(attrs)
    block


