extends ../layouts/@main

block includes
  include ../components/page/=page
  include ../components/section/=section
  include ../components/button/=button
  include ../components/link/=link
  include ../components/advantage-list/=advantage-list
  include ../components/form/=form
  include ../components/form-field/=form-field

block title
  title Тестовое задание

block body
  +page
    +page__body
      include index-content/_welcome

      include index-content/_offer

      include index-content/_raw-text

      include index-content/_advantage

      include index-content/_form

block scripts
  script(type='text/javascript' src='js/app.min.js')
