.form__row_type_number
  position: relative
  padding-top: 20px

  &::before
    +respond-to($tablet-portrait)
      position: absolute
      top: 0
      left: -92px
      width: 65px
      height: 65px
      box-sizing: border-box
      border: 1px solid rgba(#fff, .23)
      border-radius: 50%
      text-align: center
      line-height: 65px
      color: $primaryColor
      font-size: 20px
      font-weight: 500
      counter-increment: firstLevelList
      content: counter(firstLevelList,decimal)
