+section({
  mods: {type: 'advantage'},
  title: 'Преимущества работы с&nbsp;нами'
})
  +advantage-list
    +advantage-list__item({mix: 'advantage'})
      h3.advantage__title Делимся оптом и&nbsp;навыками
      p.advantage__description.
        Мы&nbsp;обучаем коллег всему, что знаем сами. Наш опыт уникален
        и&nbsp;проверен временем, а&nbsp;команда постоянно совершенствует свои
        знания и&nbsp;навыки.

    +advantage-list__item({mix: 'advantage'})
      h3.advantage__title Стабильная зарплата
      p.advantage__description.
        Вы&nbsp;без задержек получаете официальную зарплату. Также мы&nbsp;оплачиваем
        больничные и&nbsp;даем возможность брать оплачиваемый отпуск
        до&nbsp;4&nbsp;недель в&nbsp;год.

    +advantage-list__item({mix: 'advantage'})
      h3.advantage__title Гибкий график
      p.advantage__description.
        Мы&nbsp;умеем работать с&nbsp;теми, кто еще не закончил получать
        образование. Вы&nbsp;можете работать неполный рабочий день, брать
        отгулы на&nbsp;время сессии и&nbsp;диплома.
