+section({
  mods: {type: 'form'},
  title: 'Теперь расскажите о&nbsp;себе'
})
  +form
    .form__body
      +form__row({
        mods: {type: 'number'}
      })
        +form-field({
          data: {
            caption: 'Фамилия и имя',
            id: 'input-name',
            name: 'name',
            placeholder: 'Сидоров Александр'
          }
        })

      +form__row({
        mods: {type: 'number'}
      })
        +form-field({
          data: {
            caption: 'Электронная почта',
            id: 'input-email',
            name: 'email',
            placeholder: 'sidorov@yandex.ru',
            type: 'email'
          }
        })

      +form__row({
        mods: {type: 'number'}
      })
        +form-field({
          data: {
            caption: 'Телефон',
            id: 'input-phone',
            name: 'phone',
            placeholder: '+7 (917)-123-45-67',
            type: 'tel'
          }
        })

      +form__row({
        mods: {type: 'number'}
      })
        +form-field({
          data: {
            caption: 'Какой деятельностью, не&nbsp;связанной с&nbsp;текущими проектами, вы&nbsp;бы хотели заниматься в&nbsp;рабочее время?',
            id: 'input-about',
            name: 'about',
            placeholder: 'Свой проект по созданию универсальной инфраструктуры строительства',
            type: 'textarea'
          }
        })

    +form__actions
      +button({
        mods: {type: 'secondary'},
        attrs: {onclick: 'validate(this.form)'}
      }) Отправить
