+section({
  mods: {type: 'offer'}
})
  .offer-list
    .offer-list__item.offer
      h3.offer__title Прокачиваем мир
      p.offer__description.
        Вы&nbsp;хотите сделать мир лучше и&nbsp;не&nbsp;готовы ждать
        всю жизнь, чтобы начать это делать?

    .offer-list__item.offer
      h3.offer__title Мотивируем себя
      p.offer__description.
        У&nbsp;вас есть собственная цель и&nbsp;вы&nbsp;не&nbsp;боитесь
        много работать, чтобы её&nbsp;достичь?

    .offer-list__item.offer
      h3.offer__title Используем лучшее
      p.offer__description
        | Вы&nbsp;способны применять разные подходы для достижения своих целей?

    .offer-list__item.offer
      h3.offer__title Относимся с&nbsp;пониманием
      p.offer__description.
        Вы&nbsp;не&nbsp;обвиняете других в&nbsp;свои неудачах
        и&nbsp;способны воспринимать критику?
