+section({
  mods: {type: 'welcome'},
  title: 'Ты&nbsp;готов стать профессионалом?'
})
  p.section__text
    | Мы&nbsp;ищем
    = ' '
    b талантов
    = ' '
    |и&nbsp;
    b саппортов
    = ' '
    | в&nbsp;команду. Решите на&nbsp;какую категорию вы&nbsp;претендуете.

  .section__actions
    +button({
      mods: {type: 'primary'}
    }) Заполнить анкету
