.section_type_form
  background: #161616
  padding: 24px 16px 32px

  +respond-to($tablet-portrait)
    padding: 32px 24px 40px

  +respond-to($desktop)
    padding: 98px 0 120px

  .section__header
    margin-bottom: 24px

    +respond-to($tablet-portrait)
      margin-bottom: 32px

    +respond-to($desktop)
      margin-bottom: 61px

  .section__title
    color: #fff
    font: 24px/32px $secondaryFont

    +respond-to($tablet-portrait)
      font-size: 32px
      line-height: 40px

    +respond-to($desktop)
      font-size: 40px
      line-height: 32px

  .section__body
    margin: auto
    max-width: 320px

    +respond-to($tablet-landscape)
      max-width: 574px
