.section_type_welcome
  background: #fff
  padding: 40px 16px 24px

  +respond-to($tablet-portrait)
    padding: 80px 24px 72px

  +respond-to($desktop)
    padding: 167px 0 126px

  .section__body
    text-align: center
    color: #4A4556

  .section__actions
    margin-top: 16px
    text-align: center
    padding-left: 33px

    +respond-to($tablet-portrait)
      margin-top: 24px

    +respond-to($desktop)
      margin-top: 34px
