include __body/=page__body

mixin page(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods = props.mods || {}
  - var tag = props.tag || 'div'
  - var attrs = props.attrs || {}

  #{tag}.page(
    class= mods.type ? 'page_type_' + mods.type : ''
  )&attributes(attrs)
    block
