@font-face
  font-family: 'DIN Pro'
  src: local('DIN Pro'), local('DINPro'), url('../fonts/DINPro.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'DIN Pro'
  src: local('DIN Pro'), local('DINPro'), url('../fonts/DINPro-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
