.section_type_advantage
  background: #F7F5FA
  padding: 24px 16px 32px

  +respond-to($tablet-portrait)
    padding: 32px 24px 40px

  +respond-to($desktop)
    padding: 117px 0 163px

  .section__body
    max-width: 1140px
    margin: auto

  .section__header
    margin-bottom: 24px

    +respond-to($tablet-portrait)
      margin-bottom: 40px

    +respond-to($desktop)
      margin-bottom: 58px

  .section__title
    font-size: 24px

    +respond-to($tablet-portrait)
      font-size: 32px

    +respond-to($desktop)
      font-size: 40px
