mixin form-field(props)
  - props = typeof props != 'undefined' ? props : {}

  - var mods    = props.mods || {}
  - var tag     = props.tag || 'div'
  - var data    = props.data || {}
  - var attrs   = props.attrs || {}

  - var caption     = data.caption || false
  - var type        = data.type || 'text'
  - var name        = data.name || false
  - var id          = data.id || 'input-01'
  - var placeholder = data.placeholder || false

  #{tag}.form-field(
    class= mods.type ? 'form-field_type_' + mods.type : ''
  )&attributes(attrs)

    if caption
      label.form-field__caption(for= id)!= caption

    if type !== 'textarea'
      input.form-field__input(
        type= type
        placeholder= placeholder
        id= id
        name= name
      )/

    else
      textarea.form-field__input(
        type= type
        placeholder= placeholder
        id= id
        name= name
      )
