mixin advantage-list__item(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods  = props.mods || {}
  - var tag   = props.tag || 'div'
  - var attrs = props.attrs || {}
  - var mix   = props.mix || ''

  #{tag}.advantage-list__item(
    class= mods.type ? 'advantage-list__item_type_' + mods.type : ''
    class= mix
  )&attributes(attrs)
    block


