mixin form__group(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods  = props.mods || {}
  - var tag   = props.tag || 'div'
  - var attrs = props.attrs || {}

  #{tag}.form__group(
    class= mods.type ? 'form__group_type_' + mods.type : ''
  )&attributes(attrs)
    block


