block includes

html(lang="ru")
  head
    meta(charset="utf-8")/
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet")
    link(href="css/app.css", rel="stylesheet")/

    block title

  body
    block body

    block scripts
